<!DOCTYPE html>
<html>
    <head>
        <title>HelpDesk</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s12">
                        <a class="brand-logo" href="<%= root_path %>">Help Desk</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
