<!DOCTYPE html>
<html>
    <head>
        <title>HelpDesk</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper">
                <div class="row">
                    <div class="col s12">
                        <a class="brand-logo" href="<%= root_path %>">Help Desk</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><%= link_to tags_path do %>
                                <i class="material-icons">label_outline</i>
                            <% end %></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container">
            <%= yield %>
        </div>

        <%= render 'layouts/toast' %>
    </body>
</html>
